secvential matrix multiplication/SecventialMatriXMultiplication/.vs/SecventialMatriXMultiplication/v14/.suo
secvential matrix multiplication/SecventialMatriXMultiplication/Debug/SecventialMatriXMultiplication.exe
secvential matrix multiplication/SecventialMatriXMultiplication/Debug/SecventialMatriXMultiplication.ilk
secvential matrix multiplication/SecventialMatriXMultiplication/Debug/SecventialMatriXMultiplication.pdb
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication.VC.opendb
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication.sdf
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/Secventi.45D20AFD.tlog/CL.command.1.tlog
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/Secventi.45D20AFD.tlog/CL.read.1.tlog
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/Secventi.45D20AFD.tlog/CL.write.1.tlog
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/Secventi.45D20AFD.tlog/SecventialMatriXMultiplication.lastbuildstate
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/Secventi.45D20AFD.tlog/link.command.1.tlog
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/Secventi.45D20AFD.tlog/link.read.1.tlog
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/Secventi.45D20AFD.tlog/link.write.1.tlog
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/SecventialMatriXMultiplication.log
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/SecventialMatriXMultiplication.obj
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/SecventialMatriXMultiplication.pch
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/stdafx.obj
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/vc140.idb
secvential matrix multiplication/SecventialMatriXMultiplication/SecventialMatriXMultiplication/Debug/vc140.pdb
secvential matrix multiplication/SecventialMatriXMultiplication/ipch/SECVENTIALMATRIXMULTIPLICATION-80fc90b/SECVENTIALMATRIXMULTIPLICATION-b32fccfd.ipch
